.page-margin {
    display: flex;
    margin: 0 10vw;
    margin-bottom: 250px;
    font-size: 1rem;
}

.filter-list {
    width: 15vw;
    margin-top: 50px;
    font-size: 1rem;
}

.filter-list h3 {
    margin-bottom: 50px;
    font-weight: bold;
}

.list {
    display: flex;
    justify-content: space-between;
}

.filter-list li {
    list-style: none;
    text-decoration: none;
}

.filter a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.filter-list button {
    background-color: transparent;
    border-style: none;
}

.filter-list h6 {
    margin: 50px 0;
}

.list a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.filter-list ul {
    text-align: start;
}

.rating-check {
    margin-top: 20px;
}

.page-margin .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 600;
    top: 90;
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
}

.spinner .loader {
    margin-left: 50%;
    margin-bottom: 10%;
}

/* -----Tablet Size------- */
@media (min-width: 650px) and (max-width: 999px) {
    .filter-list {
        width: 20vw;
    }

    #showall-card img {
        width: 100%;
        height: 150px;
    }
}

/* -------Mobile-------- */
@media (max-width: 600px)  {
   .filter {
       opacity: 1;
       position: absolute;
       left: -100%;  
   }
}


