.details {
    margin: 0 15vw;
    display: flex;
    flex-direction: column; 
};

.details img {
    width: 300px;
    height: 300px;
    object-fit: contain;    
}

.det-container {
    display: flex;
    align-items:flex-start;
    margin-top: 20px;
    /* background-color: yellow; */
}

.description-d {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-left: 100px; 
    /* background-color: thistle; */
}

.description-d h3 {
    font-weight: bold;
}

.description-d input {
    width: 70px;
}

.description-d button {
    width: 200px;
    height: 40px;
    border-style: none;
    outline: none;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: black;
    box-shadow: 6px 6px 0px pink;
}

.description-d button:hover {
    opacity: 0.6;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 90px 10px;
}

.highlights li {
    list-style: none;
}

.highlights img {
    width: 60px;
}

.high {
    text-align: start;
}

.btnn-container img {
    width: 60px;
    height: 60px;
    border-radius: 60%;
    border: 1.5px solid rgb(214, 213, 213);
    object-fit: cover;   
}

.btnn-container img:hover {
    border: 3px solid pink;
}

.btnn-container button {
    border-radius: 60%;
    background-color: transparent;
    border-style: none;
    outline: none;
    margin-top: 30px;
}

.heart {
    font-size: 1.5rem;
    border-style: none;
    background-color: white;
    width: 45px;
    height: 40px;
    border-radius: 50%;
    z-index: 690;
}

.heart:hover {
    background-color: rgb(238, 237, 237);
}

/* modal
.m {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    background-color: pink;
    height: 700px;
    width: 22vw;
    padding: 15px;
    border-radius: 5px;
    z-index: 900;
    position: absolute;
    top: 10;      
}

.m textarea {
    width: 80%;
    height: 100px;
}

.m button {
    margin: 0 auto;
}

#close-btn {
    background-color: transparent;
    color: black;
    text-align: end;
    width: 100%;
} */

/* .dark {
    width: 100%;
    background-color: rgba(117, 116, 116, 0.493);
} */

