.banner {
    display: flex;
    justify-content: center;
    position: relative;  
}

.banner img {
    width: 30vw;
    height: 300px;
    object-fit: cover;
    margin: 10px;   
}

article {
    display: flex;
    flex-direction: column;   
}

.banner a {
    text-decoration: none;
    color: white;
}

.banner .banner-art #left {
    position: absolute;
    top: 220px;
    padding: 15px 40px;
    left: 30vw;
    border: 1px solid white;
    font-weight: bold;
}

.banner .banner-art #left:hover {
    background-color: rgba(238, 234, 234, 0.678);
}

.banner-art #right {
    position: absolute;
    top: 220px;
    padding: 15px 20px;
    left: 61.5vw;
    color: orange;
    border: 1px solid orange;
    font-weight: bold;
}

.banner-art #right:hover {
    background-color: rgba(243, 221, 124, 0.678);
}

@media (max-width: 600px) {
    .banner-art {
        height: 10px;
        opacity: 0;
    }

    
}
