.my-list {
    width: 100vw;
}

.my-list ul {
    width: 60vw;
    text-align: start;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 200px;
    background-color: rgb(241, 241, 241);
}

.my-list img {
    width: 15%;
    height: 150px;
    object-fit: contain;
}

.my-list h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.my-list li {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    background-color: white;
    margin-bottom: 12px; 
    padding: 15px;  
}

.my-list a {
    color: black;
    text-decoration: none;
}

.description {
    margin-left: 0;
    width: 60%;
}

.description h6 {
    font-weight: bold;
}

.desc-btn {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc-btn button {
    width: 70%;
    height: 35px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5px;    
}

.desc-btn button:hover {
    opacity: 0.6;
}

#delete-btn {
    color: rgb(139, 137, 137);
    background-color: white;
    border: 1px solid lightgray;
}


/* ----------Mobile--------- */
@media (max-width: 600px) {
    .the-ul {
        width: 100vw;
    }
    
    .my-list ul {
        width: 100vw;
    }
    
    .my-list li {
        font-size: 0.7rem;
        height: 150px;
    }

    .desc-btn button {
        font-size: 0.6rem;
    }

    .my-list h3 {
        margin-top: 30px;
        font-size: 1.3rem;
    }
};
