.showall {
    margin: 0 10vw;
    font-size: 1rem;
}

.showall h3 {
    margin-top: 50px;
    margin-bottom: 0;
    color: white;
}

.showall .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 600;
    top: 90;
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
}

.spinner .loader {
    margin-left: 50%;
    margin-bottom: 10%;
}

.products-part h3 {
    margin-top: 50px;
    color: black;
}

#showall-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    box-shadow: 0 0 0.3em rgb(144, 150, 156);
    margin-bottom: 15px;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding-bottom: 20px;
}

#showall-card img {
    width: 70%;
}

.prd-card .the-p {
    font-weight: normal;
}

.result p {
    font-size: 1rem;
}


/* --------Mobile------- */
@media (max-width: 600px) {
    #showall-card img {
        width: 120px;
        height: 150px;
        object-fit: contain;
    }

    #showall-card {
        width: 45%;
        height: 50%;
        font-size: 0.9rem;
        box-shadow: none;
    }

    .the-ul {
        width: 100vw;
    }

    .prd-card {
        height: 250px;
        margin-right: 10px; 
    }

    .showall h3 {
        font-size: 1.2rem;
        margin-top: 30px;
    }

    .result p {
        font-size: 0.8rem;
        margin-left: -20px;
    }

    .prd-card .the-p {
        font-size: 0.7rem;
        text-align: center;
        width: 100%;
        height: 55px;
    }

    .prd-card div {
        height: 110px;
    }
}