.showall {
    margin: 0 10vw;
}

.showall h3 {
    margin-top: 50px;
    margin-bottom: 0;
    color: white;
}

.showall .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 600;
    top: 90;
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
}

.spinner .loader {
    margin-left: 50%;
    margin-bottom: 10%;
}

.products-part h3 {
    margin-top: 50px;
    color: black;
}

#showall-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
    box-shadow: 0 0 0.3em rgb(144, 150, 156);
    margin-bottom: 15px;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding-bottom: 20px;
}

#showall-card img {
    width: 70%;
}