.signup {
    background: linear-gradient(to right, #dd5e89, #f7bb97);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    font-size: 0.9rem;
    height: 70vh;
}

.signup h2 {
    margin: 50px;
    font-weight: 700;
}

.signup form {
    width: 37vw;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    border-radius: 10px; 
    margin-top: 30px;
}

.signup input {
    width: 20vw;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.signup #signup-btn {
    width: 170px;
    height: 60px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border-style: none;
    outline: none;
    box-shadow: 6px 6px 0px pink;
}

#signup-btn:hover {
    opacity: 0.5;
}

#login-btn {
    width: 150px;
    height: 45px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    border-style: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 6px 6px 0px pink;
}

#login-btn:hover {
    opacity: 0.5;
}



