.signup {
    /* background-image: url("https://i.pinimg.com/originals/f7/86/33/f78633fc96f13c93f387aec403bb805e.jpg"); */
    background-image: url('https://cdn.shopify.com/s/files/1/1143/5434/products/KissMyAss_RedonWhite_Product_forweb_2099d23c-b7e9-4fcf-8ce0-0ae8c321b80f.jpg?v=1615485133');
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    font-size: 0.8rem;
}

.signup h1 {
    margin: 50px;
}

.signup form {
    width: 40vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
  
}

.signup input {
    width: 20vw;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 18px;
}

#signup-btn {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border-style: none;
    outline: none;
    box-shadow: 6px 6px 0px pink;
}

#signup-btn:hover {
    opacity: 0.5;
}

#login-btn {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    background-color: black;
    border-style: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 6px 6px 0px pink;
}

#login-btn:hover {
    opacity: 0.5;
}



