.page-margin {
    display: flex;
    margin: 0 10vw;
    background-color: hotpink;
}

.filter-list {
    width: 15vw;
    margin-top: 50px;
    background-color: khaki;    
}

.filter-list h2 {
    margin-bottom: 50px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.filter-list  li {
    list-style: none;
    text-decoration: none;
}

.filter a {
    text-decoration: none;
    color: black;
}

.filter-list button {
    background-color: transparent;
    border-style: none;
}

.filter-list h6 {
    margin-bottom: 50px;
}

.list a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.filter-list ul {
    text-align: start;
}

/* ----Products section---- */

.products-part {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orange;
}

.products-part .result {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
    margin-left: 80px;
}

.prd-card {
    width: 20%;
    height: 370px;
    margin: 2px;
    background-color: paleturquoise;
}

.prd-card p {
    margin-bottom: 0px;
}

.prd-card img {
    width: 9vw;
    height: 12vw;
    object-fit: contain;
}

.products-part .the-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.the-ul li {
    list-style: none;
}

.the-ul a {
    color: black;
    text-decoration: none;
}




