@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&display=swap');

.header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border-style: none;
    font-size: 1rem;
}

.header h3 {
    font-family: 'Lexend Deca';
    font-size: 1.2rem;
}

.header ul {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li {
    list-style: none;
}

.sign {
    display: flex;
    align-items: center;
}

.sign p {
    margin-left: 5px;
}

.header a {
    color: black;
    text-decoration: none;
}

.sign:hover {
    color: black;
}

.h-icon:hover{
    /* color: rgb(255, 0, 140); */
    color: pink;
}