@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&display=swap');

.header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    border-style: none;
    font-size: 1rem;
    padding-top: 20px;
}

.header img {
    width: 170px;
    margin-top: -2px;
}

.header h3 {
    font-family: 'Lexend Deca';
    font-size: 1.2rem;
    font-weight: bold;
}

.header a:hover {
    color: pink;
}

.header ul {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header li {
    list-style: none;  
}

.sign {
    display: flex;
    align-items: center;
}

.sign p {
    margin-left: 5px;
    margin-top: 15px;
}

.header a {
    color: black;
    text-decoration: none;
}

.sign:hover {
    color: black;
}

.h-icon:hover{
    color: pink;
}

.cart-menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 26vw;
    position: absolute;
    top: 0;
    margin-top: 120px;
    margin-left: 67vw;
    z-index: 930;
    border-radius: 10px;
    box-shadow: 0 0 0.3em rgb(144, 150, 156);
    font-size: 0.8rem;
    background-color: white;
}

.cart-menu ul {
    padding: 0px 15px;
}

.cart-menu img {
    width: 50px;
    height: 70px;
    object-fit: contain;
}

.cart-menu li {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 10px;
}

.p-list .remove-btn {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-left: 150px;
}

.cart-menu .checkout-btn {
    border-radius: 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-color: transparent;
    margin: 0 auto;
    padding: 10px;
}

.cart-menu a {
    color: black;
    text-decoration: black;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 7px;
}

.cart-menu .price {
    width: 300px;
    height: 30px;
    text-align: end;
}

.p-list p {
    margin-bottom: 0px;
}

.p-list {
    width: 70%;
    /* background-color: thistle; */
}

.cart-menu .price {
    width: 15%;
    /* background-color: tomato; */
}

.bag-qty {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bolder;
    border-style: none;
    background-color: red;
    color: white;
    position: absolute;
    margin-left: 198px;
    margin-top: -5px;
}

.close-x {
    margin-left: 92%;
    border-style: none;
    background-color: transparent;
}

.check {
    text-align: center;
}

/* -----Sidebar menu---- */
.hamburguer {
    opacity: 0;
}

.icon {
    margin-left: 20px;
}

.nav-menu {
    background-color: black;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 950;
}

.nav-menu.active {
    left: -100;
    /* transition: 350ms; */
}


/* ----------Mobile-------- */
@media (max-width: 600px){
    .header {
        font-size: 0.8rem;
        height: 150px; 
        background-color: aliceblue;
    }

    .header h3 {
        font-size: 1rem;
        margin-left: 10px;
        margin-top: -70px;
    }

    .hamburguer {
        opacity: 1;
        margin-right: 10px;
    }

    .header ul {
        position: absolute;
        z-index: 300;
    }
    
    .nav-menu.active {
        left: 0;
        transition: 350ms;
        height: 100%;
    }

    .nav-menu-items li {
        list-style: none;
    }

    .nav-menu-items {
        text-align: start;
        line-height: 5;
    }

    .nav-menu-items a {
        color: white;
        text-decoration: none;   
    }

    .navbar-toggle {
        margin-left: 160px;
    }
}





