.navbar {
    width: 100vw;
    height: 48px;
    background-color: black;
    color: whitesmoke;
    font-size: 1rem;
}

.first-ul {
    width: 70vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 5px;
    z-index: 200;
    /* background-color: blueviolet; */
}

.navbar li {
    list-style: none;
    text-align: center;
    /* background-color: chocolate; */
}

.first-ul a {
    color: whitesmoke;
    text-decoration: none;
}

.first-ul a:hover {
    color: pink;
}

.inside {
    width: 15vw;
    height: 220px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    opacity: 0;
    visibility: hiddden;
}

.first-li:hover .inside {
    opacity: 1;
    visibility: visible;
}

.inside li {
    margin-left: 30px;
    line-height: 3rem;
}

.no-inside {
    padding: 0px 50px;
}





