.nav-container {
    box-sizing: border-box;
    width: 100vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 8px 250px;
    margin-top: 20px;
    background-color: black;
    position: relative;   
    font-size: 1rem;
}

.navbar a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    height: 100%;
    padding-top: 5px;
}

.navbar a:hover {
    color: pink;
}

.navbar .dropdown {
    height: 100%;
    padding-top: 5px;
    font-size: 1rem;
}

.dropdown-content {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 450px;
    margin-left: -25vw;
    margin-top: 5px;
    width: 77vw;
    z-index: 200;
    color: black;
    background-color: white;
    box-shadow: 0 0 0.3em rgb(144, 150, 156);
    padding: 50px 100px;
    opacity: 0;
    visibility: hidden;
    transition: 260ms;
}

.links h6 {
    padding-bottom: 20px;
    text-align: start;
    font-weight: bold;
}

.dropdown-content img {
    width: 50%;
    height: 250px;
    object-fit: cover;
    margin-left: 5px;
}

.nav-img {
    display: flex;
}

.dropdown-content .links a {
    width: 300px;
    text-align: start;
    height: 60px;
    float: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    color: black;
}

.dropdown-content .links a:hover {
    color: pink;
}

.dropdown:hover .dropdown-content{
    display: flex;
    justify-content: space-around;
    opacity: 1;
    visibility: visible;
}

#drop-face {
    width: 77vw;
    margin-left: -550px;
}

/* -------Tablet Size------- */
@media (min-width: 650px) and (max-width: 999px) {
    .navbar {
        margin: 0;
        padding: 10px 50px;
    }

    .dropdown-content {
        width: 90vw;
        height: 350px;
    }

    .dropdown-content img {
        height: 150px;
    }

    #drop-face {
        width: 90vw;
        margin-left: -320px;
    }
}

/* Mobile Size */
@media (max-width: 600px) {
    
    .nav-container {
        display: none;
    }
    
    .navbar {
        display: none;
    }
    
    .dropdown-content {
        opacity: 0;
    }
}

