.review {
    text-align: start;
    position: relative;
    margin-bottom: 100px;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 0.9rem;
}

.review-container li {
    list-style: none;
    /* height: 150px; */
    padding: 10px;
    text-align: center;
}

.review button {
    width: 150px;
    height: 40px;
    background-color: black;
    border-style: none;
    outline: none;
    color: white
}

.review button:hover {
    opacity: 0.5;
}

h4 {
    font-weight: bold;
}

.review article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.m {
    display: flex;
    flex-direction: column;
    color: black;
    height: 600px;
    width: 30vw;
    border-radius: 5px;
    z-index: 750;
    position: absolute;
    margin-top: -50%;
    left: 30%;
    background-color: white;
    position: absolute;
    z-index: 950;
    box-shadow: 2px 2px 40px 100vw rgba(112, 111, 111, 0.76);    
}

.m textarea {
    width: 80%;
    height: 100px;
}

.m button {
    margin: 0 auto;
}

.go-login #close-btn-small {
    margin-left: 90%;
}

.dark {
    width: 107vw;
    height: 190vh;
    display: flex;
    background-color: rgba(117, 116, 116, 0.5);
    margin-top: -1350px;
    margin-left: -300px;
    margin-bottom: 0;
    padding-top: 700px;
    position: absolute;
    z-index: 905;
}

.go-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 40%;
    width: 30vw;
    z-index: 912;
    top: 100;
    margin: 0 auto;
    margin-top: -300px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 40px 200vw rgba(112, 111, 111, 0.76);
}

.go-login a {
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background-color: black;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 0 auto;
    margin-bottom: 40px;    
}

.m .rev-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 5%;
}

/* ---------Tablet-------- */
@media (min-width: 600px) and (max-width: 999px) {
    .m {
        width: 50vw;
        margin-top: -110%;
        box-shadow: 2px 2px 40px 190vw rgba(112, 111, 111, 0.76);
    }
}


/* ----------Mobile-------- */
@media (max-width: 600px) {
    .m {
        width: 90vw;
        margin-top: -400px;
        margin-left: -45%;
        bottom: 20%;
        height: 500px;
        font-size: 0.8rem;
        box-shadow: 0 0 0.5rem rgb(116, 115, 115);
    }

    .review {
        font-size: 0.8rem;
    }

    .review button {
        width: 110px;
        font-size: 00.8rem;
    }
}