.review {
    text-align: start;
    position: relative;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.review-container li {
    list-style: none;
    height: 150px;
    text-align: center;
}

.review button {
    width: 150px;
    height: 40px;
    background-color: black;
    border-style: none;
    outline: none;
    color: white
}

.review button:hover {
    opacity: 0.5;
}

h4 {
    font-weight: bold;
}

.review article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.m {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    color: black;
    height: 700px;
    width: 30vw;
    /* padding: 0px 30px 120px; */
    border-radius: 5px;
    z-index: 750;
    position: absolute;
    top: 0;
    margin-left: 60%;
    margin-top: -620px;
    background-color: white;    
}

.m textarea {
    width: 80%;
    height: 100px;
}

.m button {
    margin: 0 auto;
}

.m #close-btn {
    color: black;
    text-align: end;
    width: 100%;
    background-color: transparent;
}

.dark {
    width: 105vw;
    height: 1380px;
    display: flex;
    background-color: rgba(117, 116, 116, 0.5);
    margin-top: -1350px;
    margin-left: -300px;
    padding-top: 700px;
}

.go-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 40%;
    width: 25vw;
    z-index: 810;
    top: 100;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    background-color: white;
}

.go-login a {
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: black;
    padding: 15px 40px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.m .rev-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding: 5%;
}