.search {
    width: 29vw;
    height: 38px;
    border-style: none;
    outline: none;
    border-radius: 18px;
    background-color: rgb(241, 241, 245);
    margin-left: 100px;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    z-index: 610;
}

.search input {
    width: 80%;
    margin: 6px 0px 0px 25px;
    border-style: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}

.search img {
    width: 25px;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 12px;
}

.search ul {
    width: 98%;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-left: 5px;
    padding-left: 12px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 0.3em rgb(144, 150, 156);
    font-size: 0.9rem;
    text-align: start;
}

.search li {
    width: 97.5%;
    line-height: 50px;
    margin-top: 10px;
    padding: 5px;
    z-index: 600;
}

.search li:hover {
    background-color: rgb(241, 241, 245);
}


/* ------Mobile-------- */
@media (max-width: 600px){
    .search {
        width: 230px;
        position: absolute;
        top: 50;
        left: 0;
        margin-top: 40px;
    }
}
