.slider-card {
  width: 12vw;
  height: 280px;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 20px;
  position: relative; 
  box-shadow: 0 0 0.3em rgb(144, 150, 156);
  padding: 10px; 
}

.slider-card img {
  width: 9vw;
  height: 200px;
  object-fit: contain;
}

.slider-card p {
  width: 100%;
  height: 30px;
  color: black;
  font-size: 0.7rem;
  margin-right: 90px;
  text-align: center;
}

.slider-list {
  display: flex;
  align-items: baseline;
}

.slider h2 {
  margin-top: 35px;
}

.rec {
  width: 60vw;
  height: 300px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0 auto;
  position: relative;
  margin-top: 18px;
  margin-bottom: 10px;
}

.rec::-webkit-scrollbar {
  width: 2px;
  display: none;
}

.slider-card h6 {
  font-weight: bold;
  margin-bottom: 0;
}

.slider-buttons {
  position: absolute;
  margin-top: -185px;
}

.btn-left {
  width: 40px;
  position: relative;
  left: 16vw;
  font-size: 2rem;
  background-color: white;
  border-style: none;
  color: rgb(172, 170, 170);
  box-shadow: 0 0 0.2em rgb(144, 150, 156);
  border-radius: 10px;
}

.btn-left:hover {
  background-color: rgb(240, 240, 240);
}

.btn-right {
  width: 40px;
  position: relative;
  left: 78vw;
  font-size: 2rem;
  background-color: white;
  border-style: none;
  color: rgb(172, 170, 170);
  box-shadow: 0 0 0.2em rgb(144, 150, 156);
  border-radius: 10px;
}

.btn-right:hover {
  background-color: rgb(240, 240, 240);
}

.slider-list a {
  color: black;
  text-decoration: none;
}



  /*----------- Mobile------------ */
  @media (max-width: 600px) {
    .slider {
      width: 100vw;
      margin: -150px auto 0px;
      padding: 0px 0px 130px;  
    }

    .slider-card p {
      font-size: 0.7rem;
      width: 80%;
      margin: 0 auto; 
    }

    .rec {
      width: 55vw;
      height: 330px; 
    }

    .slider-card {
      width: 200px;
      height: 280px;
      margin: 0 5px;
      margin-top: 0;
      padding-top: 0;
      box-shadow: none;
    }

    .slider-card img {
      width: 150px;
      height: 300px;
      margin-top: 0;
      object-fit: contain;
    }

    .btn-right {
      margin-left: -20px;
    }

    .btn-left {
      margin-left: -30px;
    }

    .slider-card h6 {
      margin-top: -40px;
    }
  }