.slider-card {
    width: 9vw;
    font-size: 0.8rem;
    margin-left: 25px;
    position: relative;   
}

.slider-card img {
    width: 8vw;
    height: 190px;
    object-fit: contain;
}

.p {
    width: 30px;
    height: 13px;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    margin-right: 90px;
}

.slider-list {
    display: flex;
    align-items: baseline;
}

.slider h1 {
    margin-top: 35px;
}

.rec {
    width: 60vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: 0 auto;
    position: relative;
    margin-top: 18px;
}

.rec::-webkit-scrollbar {
    width: 2px;
    display: none;
}

.slider-card h6 {
    font-weight: bold;
    margin-bottom: 0;
}

  .slider-buttons {
    position: absolute;
    margin-top: -200px;
  }

  .btn-left {
    position: relative;
    left: 18vw;
    font-size: 2rem;
    background-color: transparent;
    border-style: none;
    color: rgb(172, 170, 170);
  }

  .btn-right {
    position: relative;
    left: 78vw;
    font-size: 2rem;
    background-color: transparent;
    border-style: none;
    color: rgb(172, 170, 170);
  }

  .slider-list a {
    color: black;
    text-decoration: none;
  }