.today-bg {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(250, 205, 200); */
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); 
}

.today-bg span {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 700;
    color: whitesmoke;
    margin-left: 10px;
}

/* ------Moblie----- */
@media (max-width: 600px) {
    .today-bg span {
        font-size: 0.6rem;
    }
}

